@CHARSET "UTF-8";

/* Login JSP */
.loginDiv {
	position: relative;
	width: 300px;
}

.formTr {
	margin-top: 8px;
}

.loginInputLabel {
	width: 80px;
}

.inputW {
	width: 120px;
}

.loginDiv .floatLeft {
	float: left;
}

.loginBtn {
	float: right;
	margin-right: 95px;
}

.changePwdFieldset {
	width: 300px;
}