html {
	overflow: auto;
/* 	min-width: 1000px;
	min-height: 600px; */
}

#topDiv {
	height: 75px;
	width: 100%;
	border: 0px solid #060;
	position: relative;
	background-color: green;
}

#downWrapperDiv {
	height: 500px;
	width: 100%;
}

#leftMenu {
	float: left;
	width: 200px;
	height: 100%;
	background: gray;
}

#centerMain { /* float: left; */
	float: right;
	height: 100%;
	width: 800px;
	border: 0px solid #00F;
}

#rightIframe {
	width: 100%;
}

/******************************************/
.antMenu {
	margin-top: 10px;
}

.antMenuHighlight {
	background-color: orange;
}