html {
	overflow: auto;
	min-width: 1260px;
	min-height: 650px;
}

#topDiv {
	height: 75px;
	width: 100%;
	border: 0px solid #060;
	position: relative;
	background-color: blue;
}

#downWrapperDiv {
	height: 500px;
	width: 100%;
}

#leftMenu {
	float: left;
	width: 200px;
	height: 100%;
	background: red;
}

#centerMain {
	/* float: left; */
	float: right;
	height: 100%;
	width: 800px;
	border: 0px solid #00F;
	background-color: navy;
}

#rightIframe {
	width: 100%;
}